{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/advanced_search.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 {% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-light"><h4>Advanced Search</h4></div>
        <div class="card-body row">
            <div class="params-container col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form id="search-form" method="post">

                            <div class="form-group row">
                                <label class="col-form-label col-md-4" for="dish_name">Dish</label>
                                <input type="text" class="form-control  col-md-5" value="{{ form.dish_name }}" name="dish_name" id="dish_name">
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-4" for="dining_hall">Dining Hall</label>
                                <select class="form-control  col-md-5" name="dining_hall" id="dining_hall">
                                    <option value="any">--------------</option>
                                    {% for dining_hall in dining_halls %}
                                        <option
                                                {% if form.dining_hall == dining_hall.name %} selected {% endif %}
                                                value="{{ dining_hall.name }}">
                                            {{ dining_hall.name|title }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-4" for="diet">Diet</label>
                                <select class="form-control  col-md-4" name="diet" id="diet">
                                    <option value="any">-----------</option>
                                    {% for diet in diets %}
                                        <option {% if form.diet == diet.name %} selected {% endif %}
                                                value="{{ diet.name }}">
                                            {{ diet.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-4" for="allergens">Exclude Allergens</label>
                                <select multiple class="form-control  col-md-3" name="allergens" id="allergens">
                                    <option {% if "any" in forms.allergens %}selected{% endif %} value="any">-----------</option>
                                    {% for allergen in allergens %}
                                        <option {% if allergen.name in form.allergens %}selected{% endif %}
                                                value="{{ allergen.name }}">
                                            {{ allergen.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-4" for="role-select">Role</label>
                                <select class="form-control  col-md-3" name="role" id="role-select">
                                    <option value="any">--------</option>
                                    {% for role in roles %}
                                        <option {% if role == form.role %}selected{% endif %}
                                                value="{{ role }}">
                                            {{ role|title }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-4" for="school">School</label>
                                <select class="form-control col-md-6" name="school" id="school">
                                    <option value="any">--------</option>
                                    {% for school in schools %}
                                        <option {% if school == form.school %}selected{% endif %}
                                                value="{{ school }}">
                                            {{ school }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-4" for="grad-year-select">Grad Year</label>
                                <select class="form-control col-md-3" name="grad_year" id="grad-year-select">
                                    <option value="any">-------</option>
                                    {% for grad_year in grad_years %}
                                        <option {% if grad_year|stringformat:"s" == form.grad_year %}selected{% endif %}
                                                value="{{ grad_year }}">
                                            {{ grad_year }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button class="btn btn-success col-md-3 offset-md-4" type="submit">Submit</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>

            <div class="results col-md-6 offset-md-1">
                {% if results %}
                    <div class="results-graph">
                        {% autoescape off %}
                            {{ plot_div }}
                        {% endautoescape %}
                    </div>

                    <ul class="list-group list-group-flush">
                        {% for result in results %}
                            <li class="list-group-item favorite-dish">
                                <h4> <a href="{% url 'dish' result.id %}">{{ result.name }}</a>
                                    <span class="fa fa-star"></span>
                                    {{ result.avg_rating|floatformat:2 }}
                                    {% include 'rating_popup.html' with type='dish' dish_id=result.id %}
                                </h4>
                                <h6>
                                    <a href="{% url 'dining_hall' result.dining_hall_id %}">{{ result.dining_hall_id|title }}</a></h6>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div>No dishes found with these search parameters.</div>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
