{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dining_hall.css' %}">
 {% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header"></div>

        <div class="card-body row">
            <ul class="general-info">
                <li>Name: {{ dining_hall.name }}</li>
                <li>Forks: {{ average_forks|floatformat:2 }}</li>
            </ul>

            <div class="card">
                <div class="card-header">Rate This Dining Hall</div>
                <div class="card-body">
                    <form id="rating-form" method="post">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2" for="forks">Forks:</label>
                            <input class="form-control col-md-2" type="number" step="0.1" min="0" max="5" id="forks" placeholder="4.7" name="forks">
                            <button class="btn btn-warning col-md-2 offset-md-5" type="submit">Submit</button>
                        </div>

                        <div class="form-group row">
                            <textarea class="form-control col-md-11" rows="4" cols="50" placeholder="Comments..." name="comment"></textarea>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>


        </div>
    </div>

    <div class="card">
        <div class="card-header">Ratings</div>
        <div class="card-body">
            {% for rating in ratings %}
                <div class="card">
                    <div class="card-header">
                        {{ rating.user.username }}:
                        {{ rating.forks|floatformat:2 }}
                        <span class="rating-date">{{ rating.datetime|date:'n-j-Y' }}</span>
                    </div>

                    <div class="card-body">{{ rating.comment }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
