{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dining_hall.css' %}">
 {% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body row">
            <ul class="general-info">
                <li><h1>{{ dining_hall.name|title }}</h1></li>
                <li>
                    <h3>Average Rating: <span class="fa fa-star"></span> {{ average_forks|floatformat:2 }}</h3></li>
            </ul>

            <div class="card">
                <div class="card-header bg-success"><h4>Rate This Dining Hall</h4></div>
                <div class="card-body">
                    <form id="rating-form" method="post">
                         <div class="form-group-row">
                            <div class="offset-md-4">
                                <span class="fa fa-star"></span>
                                <output id="amount" name="amount" for="rangeInput">2.5</output>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label" for="forks">Rating:</label>
                            <input type="range" class="offset-md-1 col-md-5" id="rangeInput" name="forks" min="0" max="5" step="0.1" value="2.5" oninput="amount.value=rangeInput.value">
                            <button class="btn btn-secondary offset-md-2" type="submit">Submit</button>
                        </div>

                        <div class="form-group row">
                            <textarea class="form-control col-md-11" rows="4" cols="50" placeholder="Comments..." name="comment"></textarea>
                        </div>

                        {% csrf_token %}
                    </form>
                </div>
            </div>


        </div>
    </div>


   <div class="card">
    <div class="card-header">
        <h3 class="ratings-header">Ratings</h3>
        <nav class="ratings-order">
            <ul class="pagination">
                {% for order in rating_orders %}
                    <li class="page-item {% if order == rating_order %}active{% endif %}">
                        <a href="?ratings_order={{ order }}" class="page-link">{{ order|title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
        <div class="card-body">
            {% for rating in ratings_page %}
                <div class="card">
                    <div class="card-header">
                        <h4>{{ rating.user.username }}:
                        {{ rating.forks|floatformat:2 }} <span class="fa fa-star"></span>
                        <span class="rating-date">{{ rating.datetime|date:'n-j-Y' }}</span>
                        </h4>
                    </div>

                    <div class="card-body">{{ rating.comment }}</div>
                </div>
            {% endfor %}

            <nav class="ratings-paginator">
                <ul class="pagination justify-content-center">
                    {% if ratings_page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ ratings_page.previous_page_number }}">&laquo</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ ratings_page.previous_page_number }}">{{ ratings_page.previous_page_number }}</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ ratings_page.number }}">{{ ratings_page.number }}</a>
                    </li>

                    {% if ratings_page.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ ratings_page.next_page_number }}">{{ ratings_page.next_page_number }}</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ ratings_page.next_page_number }}">&raquo</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
