{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dish.css' %}">
 {% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header"></div>

        <div class="card-body">
            <ul class="general-info">
                <li>Name: {{ dish.name }}</li>
                <li>Dining Hall: {{ dish.dining_hall.name|title }}</li>
                <li>Forks: {{ average_forks|floatformat:2 }}</li>
            </ul>

            <div class="card nutrition-facts">
                <div class="card-header">Nutrition Facts</div>
                <div class="card-body">
                    <ul>
                        {% for fact in nutrition_facts%}
                            <li class="nutrition-fact">
                                {{ fact.nutrition_fact.name }}: {{ fact.value }}{{ fact.units }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="card dietary-restrictions">
                <div class="card-header">Dietary Restrictions</div>
                <div class="card-body">
                    <ul>
                        {% for restriction in dietary_restrictions%}
                            <li class="dietary-restriction">
                                {{ restriction.dietary_restriction.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="card ingredients">
                <div class="card-header">Ingredients</div>
                <div class="card-body">
                    <ul>
                        {% for ingredient in ingredients %}
                            <li class="dietary-restriction">
                                {{ ingredient.ingredient.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Ratings</div>
        <div class="card-body">
            {% for rating in ratings %}
                <div class="card">
                    <div class="card-header">
                        {{ rating.user.username }}:
                        {{ rating.forks|floatformat:2 }}
                        <span class="rating-date">{{ rating.datetime|date:'n-j-Y' }}</span>
                    </div>

                    <div class="card-body">{{ rating.comment }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
