{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
 {% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">Favorite Dishes Available Today</div>
        <div class="card-body">
            {% for rating in favorites %}
                <div class="favorite-dish">
                    <a href="{% url 'dish' rating.dish.id %}">{{ rating.dish.name }}</a>
                    ({{ rating.dish.dining_hall.name }} {{ rating.meal_available }}): {{ rating.forks|floatformat:2 }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
