{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
 {% endblock %}
{% block content %}
    <div class="card Favourite Dishes">
        <div class="card-header"><h3>Favorite Dishes Available Today</h3></div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for rating in favorites %}
                    <li class="list-group-item favorite-dish">
                        <h4><a href="{% url 'dish' rating.dish.id %}">{{ rating.dish.name }}</a>
                            <span class="fa fa-star"></span>
                            {{ rating.forks|floatformat:2 }}
                            {% include 'rating_popup.html' with type='dish' dish_id=rating.dish.id %}
                        </h4>
                        <h6>
                            <a href="{% url 'dining_hall' rating.dish.dining_hall.name %}">{{ rating.dish.dining_hall.name|title }}</a>
                            {{ rating.meal_available }}
                        </h6>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}


