{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menus.css' %}">
 {% endblock %}
{% block content %}

    <ul class="nav nav-tabs justify-content-center">
        {% for meal in meal_types %}
            <li class="nav-item">
                <a
                        class="nav-link {% if forloop.counter == 1 %}active{% endif %}"
                        href="#{{ meal.name }}"
                        data-toggle="tab">
                    {{ meal.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for meal_type in meal_types %}
            <div class="tab-pane fade show {% if forloop.counter == 1 %}active{% endif %}" id="{{ meal_type.name }}">
                {% for meal in meal_type.meals %}
                    <div class="card meal-container">
                        <div class="card-header">
                            <a href="{% url 'dining_hall' meal.info.dining_hall.name %}">{{ meal.info.dining_hall.name|title }}</a>
                            <span class="menu-hours">
                                {{ meal.info.start_time|date:'g:i' }}-{{ meal.info.end_time|date:'g:i' }}
                            </span>
                        </div>

                        <div class="card-body menu">
                            {% for station in meal.stations %}

                                    <h5>{{ station.name|title }}</h5>



                                <ul class="menu-items">
                                    {% for menu_item in station.menu_items %}
                                        <li class="menu-item"><a href="{% url 'dish' menu_item.dish.id %}">{{ menu_item.dish.name}}</a> Find way to put ratings  </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
