a:hover {
 cursor:pointer;
}

body {
    background-color: #18BC9C;
}


.navbar {
    margin-bottom: 3vh;
}

.card {
    margin: 2vh 2vw;
    border-color: #2C3E50;
}

.card-header {
    background-color: #2C3E50;
    color: white;
}

ul {
    list-style: none;
}

.rating-date {
    float: right;
}

#rating-form {
    padding: 0 1vh;
}

.ratings-order {
    float: right;
}

.ratings-header {
    float: left;
}

.fa-edit:hover {
    cursor: pointer;
}

.fa-star {
    color: gold;
}

.popover-button {
    background: dimgray;
    border-radius: 1px;
}
