a:hover {
 cursor:pointer;
}

.navbar {
    margin-bottom: 5vh;
}

.card {
    margin: 2vh 2vw;
}

ul {
    list-style: none;
}

.rating-date {
    float: right;
}

#rating-form {
    padding: 0 1vh;
}
