a:hover {
 cursor:pointer;
}

.navbar {
    margin-bottom: 5vh;
}

.card {
    margin: 2vh 2vw;
}

ul {
    list-style: none;
}

.rating-date {
    float: right;
}

#rating-form {
    padding: 0 1vh;
}

.ratings-order {
    float: right;
}

.ratings-header {
    float: left;
}

.fa-edit:hover {
    cursor: pointer;
}

.fa-star {
    color: gold;
}

.popover-button {
    background: dimgray;
    border-radius: 1px;
}