.general-info {
    display: inline-block;
    vertical-align: top;
}

.dietary-restrictions {
    display: inline-block;
    vertical-align: top;
}

.dietary-restriction {
    text-align: center;
}

.nutrition-facts {
    display: inline-block;
    vertical-align: top;
}

.ingredients {
    display: inline-block;
    vertical-align: top;
}

.nf-label {
    font-weight: bold;
}

.nf-value {
    text-align: right;
}

table {
    display: inline-block;
}