body {
    background-color: #2E2E2E;
}

.login-container {
    position: relative;
    width: 25vw;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    padding: 2vh;
    text-align: center;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, .4);
}

.nav-pills > li > a {
    border-radius: 0 !important;
}

.nav-pills > li > a.active {
    background-color: dodgerblue !important;
    color: white !important;
}

.nav-pills > li > a {
    border: solid dodgerblue 1px;
}

form {
    margin-top: 2vh;
}

.textbox i{
    width: 26px;
    color: dodgerblue;
}

label {
    color: dodgerblue;
    transform: translate(10%, 0);
}

.btn {
    width: 40%;
    background: dodgerblue;
    padding: 5px;
    color: white;
}
.message {
    left: 60vh;
    margin-top: 1vh;
}

#pass {
    -webkit-text-security: disc;
}

.errorlist {
    color: red;
    text-align: left;
}