body {
    background-color: #18BC9C;
}

.login-container {
    position: relative;
    width: 30vw;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 2vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, .4);
}

.login-pill > a {
    border-radius: 10px 0 0 10px !important;
}

.sign-up-pill > a {
    border-radius: 0 10px 10px 0 !important;
}

.nav-pills > li > a.active {
    background-color: #18BC9C !important;
    color: white !important;
}

.nav-pills > li > a {
    border: solid #18BC9C 1px;
    background-color: white;
}

form {
    margin-top: 2vh;
}

.textbox i{
    width: 26px;
    color: #18BC9C;
}

label {
    color: #18BC9C;
    transform: translate(10%, 0);
}

.btn {
    width: 30%;
    padding: 5px;
    border-radius: 10px;
}
.message {
    left: 60vh;
    margin-top: 1vh;
    color: white;
}

#pass {
    -webkit-text-security: disc;
}

.errorlist {
    color: white;
    text-align: left;
}