.menu-hours {
    float: right;
}

.nav-tabs {
    border-color: #2C3E50 !important;
}

.tab > a {
    color: #2C3E50;
    background: None !important;
}

.nav-link.active {
    border-color: #2C3E50 !important;
    border-bottom: #18BC9C solid !important;
}

.nav-link:hover {
    border-color: #2C3E50 !important;
    border-bottom: #18BC9C solid !important;
}

.station-name {
    font-weight: bold;
}

.meal-container {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.station {
    display: inline-block;
    vertical-align: top;
}

.menu-items {
    padding-left: 0;
    margin-right: 1vw;
}
